header {
    color: rgb(0, 0, 0);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    justify-content: space-evenly;
    gap: 1.5rem;
    text-decoration: none;
    color: black;
}

nav ul a {
    text-decoration: none;
    color: black;
}

.get-in-touch-button {
    font-weight: bold;
    color: black;
    cursor: pointer;
}

#home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;

}

.intro-text{
    flex: 1;
    text-align: left;
    margin-right: 20px;
    max-width: 500px;

h3{
    font-size: 18px;
    margin-bottom: 10px;
}

h2{
    font-size: 30px;
    line-height: 1.4;
    font-weight: bold;
}
}

.intro-image{
    flex: 1;
    text-align: right;

    img{
        width: 100%;
        height:auto;
        border-radius: 8px;
    }
}
//About section
.about-me-container{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  gap:100px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.about-me-image{
    flex-shrink: 0;
    max-width: 300px;
    height: auto;
    img{

        width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: contain;
    }
}

.about-me-text{
    flex: 1;
    max-width: 600px;
    margin: 0;
}

.about-me-text h3{
    font-size:50px;
    margin-bottom: 10px; 
}

.about-me-text p{
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 15px;

}

.technical-skills{
    text-align:center;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.technical-skills h2{
    font-size: 36px;
    align-items: center;
    margin-bottom: 20px;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill img{
    width: 70px;
    height:70px;
    object-fit: contain;

}

//myprojects
.projects-section{
    padding: 50px 0;
    text-align: center;


h2{
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project{
    border: 1px solid;
    border-radius: 10px;
    width: 280px;
    padding: 20px;


img{
    width: 100%;
    height: auto;
    borer-radius: 10px
}

h3{
    font-size: 24px;
    margin: 15px 0;
}
 p{
    font-size: 24px;
    margin: 15px 0;
 }

 .project-button{
display: flex;
justify-content: space-between;


.btn {
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
}

 }
}
} 

@media (max-width: 768px){
    header{
        display:none;
    }

    nav ul {
        display: none;
    }

    #home{
        flex-direction: column;
        text-align: center;

    }

    .intro-text{
        margin-right: 0;
        text-align: left;
    }

    .intro-image img {
        display: none;
    }

    .about-me-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .about-me-image img{
        max-width: 100%;
    }
    .about-me-text h3{
        font-size: 40px;
        align-items: center;
    }
    .technical-skill {
        padding: 10px;
    }
    .skills-container{
        gap: 10px;
    }
    .skill img {
        width: 50px;
        height: 50px;
    }
    .projects-section{
        padding: 20px 10px;
    }
    .projects-container{
        gap: 20px;
    }

    .project{
        width: 100%;
        padding: 10px;
    }
    .project img{
        border-radius: 5px;
    }
    .project-button{
        flex-direction: column;
        gap: 10px;

        .btn{
            width: 100%;
            text-align: center;
        }
    }
    }

    @media(max-width: 480px) { 
        header h4{
            font-size: 18px;
        }
        .intro-text h1{
            font-size: 24px;
        }
        .intro-text h2{
            font-size: 24px;
        }
        .about-me-text h3{
            font-size: 28px;
        }
        .about-me-text p{
            font-size: 14px;
        }
        .technical-skills h2{
            font-size: 24px;
        }
        .skills-container{
            flex-wrap: wrap;
            gap: 8px;
        }
        .projects-section h2{
            font-size: 24px;
        }
    }







